{% block base64_widget %}
    {% spaceless %}
        <input type="file" id="{{ id }}_file" {% if required and value is empty %}required{% endif %} />
        <input type="hidden" {{ block('widget_attributes') }} value="{{ value }}" />
        <figure id="{{ id }}_figure" {% if value is empty %}style="display: none"{% endif %}>
        	<img src="{{ value }}" id="{{ id }}_img" />
	        {% if not required %}
	            <a href="#" id="{{ id }}_delete" {% if value is empty %}style="display: none"{% endif %}>{{ deleteLabel }}</a>
	        {% endif %}
        </figure>
        <script>
            document.getElementById('{{ id }}_file').addEventListener('change', function() {
                if(this.files && this.files[0]) {
                    var file = new FileReader();
                    file.onload = function(e) {
                        var img = new Image;


                        img.onload = function() {
                            var width = {% if width %}parseInt({{ width }}){% else %}0{% endif %};
                            var height = {% if height %}parseInt({{ height }}){% else %}0{% endif %};

                            var ratio = img.width / img.height;

                            if(width > 0 || height > 0) {
                                if(height === 0) {
                                    // newHeight Auto
                                    height = width / ratio;
                                } else if(width === 0) {
                                    // newWidth Auto
                                    width = height * ratio;
                                }
                            } else {
                                width = img.width;
                                height = img.height;
                            }

                            var canvas = document.createElement('canvas');
                            var context = canvas.getContext('2d');

                            canvas.width = width;
                            canvas.height = height;

                            var x = 0;
                            var y = 0;

                            var swidth, sheight;

                            swidth = width;
                            sheight = swidth / ratio;

                            if(sheight >= height) {
                                y = -(sheight - height) / 2;
                            } else {
                                sheight = height;
                                swidth = height * ratio;

                                x = -(swidth - width) / 2;
                            }

                            context.drawImage(img, x, y, swidth, sheight);

                            var type = img.src.split(';')[0].replace('data:', '');

                            var newImage = new Image;
                            newImage.src = canvas.toDataURL(type);

                            document.getElementById("{{ id }}").value   = newImage.src;
                            document.getElementById("{{ id }}_img").src = newImage.src;
                            document.getElementById("{{ id }}_figure").style.display = 'block';
                            {% if not required %}
                                document.getElementById("{{ id }}_delete").style.display = 'block';
                            {% endif %}
                        };

                        img.src = e.target.result;
                    };
                    file.readAsDataURL( this.files[0] );
                }
            }, false);
            {% if not required %}
                document.getElementById('{{ id }}_delete').addEventListener('click', function() {
                    document.getElementById("{{ id }}").value   = "";
                    document.getElementById("{{ id }}_img").src = "";
                    document.getElementById("{{ id }}_file").value   = "";
                    document.getElementById("{{ id }}_figure").style.display = 'none';
                    document.getElementById("{{ id }}_delete").style.display = 'none';
                    return false;
                }, false);
            {% endif %}
        </script>
    {% endspaceless %}
{% endblock %}
